<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>todolist view</title>
</head>
<body>
<!--<form action="listwrite" method="get">-->
<!--    ${title} ${content} ${date}-->
<!--    <button type="submit">작성하기</button>-->
<!--</form>-->
<!--<p th:text="${todolist.title}"></p>-->
<!--<p th:text="${todolist.content}"></p>-->
<!--<p th:text="${todolist.date}"></p>-->
    ${title}
<form action="listwrite" method="post">
    <button type="submit">작성하기</button>
</form>

</body>
</html>