<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
</head>
<body>
<form action="listview" method="post">
    <table>
        <tr>
            <td><label for="title">제목</label></td>
            <td><input id="title" type="text" name="title"></td>
        </tr>
        <tr>
            <td><label for="content">내용</label></td>
            <td><input id="content" type="text" name="content"></td>
        </tr>
        <tr>
            <td><label for="date">날짜</label></td>
            <td><input id="date" type="text" name="date"></td>
        </tr>
    </table>

    <button type="submit">저장하기</button>
</form>
</body>
</html>